<nav class="navbar navbar-expand-lg text-center navbar-light bg-light">
    <a class="navbar-brand" href="/">Carga de Productos - Listado - Chat</a>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
</nav>